body {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: #FAFBF1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #212121;
    display: grid;
    grid-template-rows: 8% 15% 45% 45% 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav nav"
    "intro intro intro"
    "skills skills skills"
    "work work work"
    "footer footer footer";
    margin: auto 0;
}

section {
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
font-family: 'Roboto', sans-serif;
line-height: 140%;
font-size: 16px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #212121;
    color:#FAFBF1;
    border: none;
    padding: 20px 30px 20px 30px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
}

button a {
    text-decoration: none;
    color:#FAFBF1;
}

.sectionDivider {
    grid-area: sectionDivider;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    text-align: left;
    border-bottom: solid 1px #212121;
}

/* Navigation Bar Content */

nav {
    grid-area: nav;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "img tabs tabs";
    align-items: flex-end;
    justify-content: space-between;
}

nav img {
    grid-area: img;
    width: 362px;
    height: auto;
    border-bottom: solid 1px #212121;
    padding-bottom: 20px;
    margin-right: 60px;
}

.tabs {
    grid-area: tabs;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #212121;
    padding-bottom: 20px;
    margin-right: 20px;
}

.tabs a {
    text-decoration: none;
    color: #212121;
}

/* Intro Content */

#intro {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: auto;
    display: grid;
    grid-area: intro;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "laurenPhoto aboutText aboutText";
}

#laurenPhoto {
    grid-area: laurenPhoto;
}

#laurenPhoto img {
    width: 362px;
    height: auto;
    margin-right: 60px;
    margin-top: 40px;
}

#aboutText {
    grid-area: aboutText;
    margin: auto 0;
}

#aboutText h1 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    line-height: 100%;
}

#aboutText p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    }

/* Skills Content */

#skills {
    grid-area: skills;
}

#skillsContainer {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10 90%;
    grid-template-areas:
    "sectionDivider sectionDivider sectionDivider"
    "ux ui feDev";
    margin-left: 80px;
    margin-right: 80px;
}

#skills img {
    width: 80px;
    height: 80px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 110%;
}

#skillsContainer p {
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 20px;
    }

#ux {
    grid-area: ux;
    margin-right: 20px;
    padding-right: 40px;
}

#ui {
    grid-area: ui;
    margin-right: 20px;
    padding-right: 40px;
}    

#feDev {
    grid-area: feDev;
    margin-right: 20px;
    padding-right: 40px;
}

/* Work Content */

#work {
    grid-area: work;
}

#caseStudies {
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "naba skippr cs3"
    "cs4 cs5 cs6";
}

.card {
margin-bottom: 40px;
}

#work img {
    width: 420px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 5px;

}

.cardText {
    margin-bottom: 40px;
    width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#naba {
    grid-area: naba;
}

#skippr {
    grid-area: skippr;
}

#cs3 {
    grid-area: cs3;
}

#cs4 {
    grid-area: cs4;
}

#cs5 {
    grid-area: cs5;
}

#cs6 {
    grid-area: cs6;
}


.card h2 {
    grid-area: cardHeadline;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.card p {
    grid-area: cardCopy;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer {
    padding-top: 40px;
}